
<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <%= f.label :your_message %>:
  <%= f.text_area :content, class: "form-control js-message", data: {textarea: "message"} %>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <p></p>
  <%= f.submit "send", class: "btn btn-primary btn-block send-btn-hover", style: "margin-bottom: 50px;" data: {send: "message"} %>
<% end %>
