<!-- Profile page, still only viewable for current user - must be fixed -->

  <div class="profile-wrapper">

    <% avatar_url = @user.picture || "https://timeforgeography.co.uk/static/img/avatar-placeholder.png" %>
    <%= image_tag avatar_url, class: "profile_picture" %>

    <h3 style="margin-bottom: 30px;"> <%= @user.first_name %> <%= @user.last_name %> </h3>

    <!-- ICON BUTTONS -->
    <ul class="list-inline user-list-controls user-list-controls-big" style="justify-content: center; margin-bottom: 30px;">
      <% unless @user.url.nil? %>
        <li><a href="<%= user.url %>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <% end %>
      <!-- Check if user already has a chat with this guy -->
      <% already_chatting = false %>
      <% current_user.chatrooms.each do |chat| %>
        <% if chat.users.include?(@user) %>
          <% @our_chatroom = chat %>
          <% already_chatting = true %>
        <% end %>
      <% end %>
      <% unless already_chatting %>
        <li><a href="<%= new_chatroom_path(with_user_id: user_id) %>"><i class="fa fa-comments"></i></a></li>
      <% else %>
        <li><a href="<%= chatroom_path(@our_chatroom.id) %>"><i class="fa fa-comments"></i></a></li>
      <% end %>
      <li><a href="#"><i class="fa fa-address-book"></i></a></li>
    </ul>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Current occupation: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.headline %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Based in: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.location %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Industry sector: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.industry %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Email: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.email %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> I'm looking for: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> "<%= @user.description %>" </p>
        </div>
      </div>
    </div>

    <p style="margin-top: 30px;"> <%= link_to "See " + @user.first_name + "'s LinkedIn profile", @user.url %> </p>
    <% if current_user == @user %>
      <p style="margin-top: 30px;"> <%= link_to "Edit your profile", edit_user_registration_path %> </p>
    <% elsif @contact %>
        <div class="form-inputs">
        <%= simple_form_for (@contact), :url => url_for(:action => 'update', :controller => 'contacts', contact_id: @contact.id), :method => 'patch' do |f|  %>
          <%= f.text_area :notes, autofocus: true %>
          <%= f.input :category, autofocus: true %>
          <%= f.submit %>
          <% end %>
       </div>
    <% end %>


  </div>
