<!-- Profile page, still only viewable for current user - must be fixed -->

  <div class="profile-wrapper">

    <% avatar_url = @user.picture || "https://timeforgeography.co.uk/static/img/avatar-placeholder.png" %>
    <%= image_tag avatar_url, class: "profile_picture" %>

    <h3 style="margin-bottom: 30px;"> <%= @user.first_name %> <%= @user.last_name %> </h3>

    <!-- ICON BUTTONS -->
    <ul class="list-inline user-list-controls user-list-controls-big" style="justify-content: center; margin-bottom: 30px;">
      <% unless @user.url.nil? %>
        <li><a href="<%= @user.url %>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <% end %>
      <!-- Check if user already has a chat with this guy -->
      <% my_chats = current_user.chatroomusers %>
      <% unless my_chats.empty? %>
        <% already_chatting = false %>
        <% my_chats.each do |chat| %>
          <% chatter_1 = chat.chatroom.chatroomusers[0].user %>
          <% chatter_2 = chat.chatroom.chatroomusers[1].user %>
          <% chatters = [chatter_1, chatter_2] %>
          <% if chatters.include?(@user) %>
            <% already_chatting = true %>
            <% @our_chatroom = chat.chatroom %>
          <% end %>
        <% end %>
      <% end %>
      <% unless already_chatting %>
        <li><a href="<%= new_chatroom_path(with_user_id: @user.id) %>"><i class="fa fa-comments"></i></a></li>
      <% else %>
        <li><a href="<%= chatroom_path(@our_chatroom.id) %>"><i class="fa fa-comments"></i></a></li>
      <% end %>

    </ul>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Current occupation: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.headline %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Based in: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.location %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Industry sector: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.industry %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> Email: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> <%= @user.email %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> I'm looking for: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right"> "<%= @user.description %>" </p>
        </div>
      </div>
    </div>

    <% if current_user == @user %>
      <p style="margin-top: 30px;"> <%= link_to "Edit your profile", edit_user_registration_path %> </p>
    <% elsif @contact %>

    <div class="mycontactinfo">

     <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> My notes: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right contact-notes"> <%= @contact.notes %> </p>
        </div>
      </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <p class="text-left"> He is a: </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <p class="text-right contact-category"> <%= @contact.category %> </p>
        </div>
      </div>
       </div>
      <td><div id="edit-contact-button" class="btn"> Show Edit</div></td>

      <div class="updatecontactinfo">

       </div>

     <div id="edit-form">
      <%= render 'contacts/edit' %>
    </div>
      <% else %>
       <%   @event = Event.find(params[:event])%>
     <li><%= link_to "", event_addcontactbook_path(@event, :user_id => @user.id), :class => "fa fa-address-book" %></li>
    <% end %>
  </div>

<% content_for(:after_js) do %>
  <% javascript_tag do %>
    $(document).ready(function(){
      $('#edit-form').hide();
      $('#edit-contact-button').addClass('off');
    });


    $('#edit-contact-button').click(function(){
      if ($(this).hasClass('off')) {
        $('#edit-form').slideDown();
        $('#edit-contact-button').text("Hide Edit Form");
        $(this).removeClass('off')
      } else {
        $('#edit-form').slideUp();
        $('#edit-contact-button').text("Show Edit Form");
        $(this).addClass('off')
      };
    });
  <% end %>
<% end %>
