
<!-- <div class="wrapper"> -->
  <div class="container-fluid home-page"> <!-- class home-page -->
    <div class="row">
<!-- Search bar -->

        <div class="search events">
          <%= simple_form_for @event, :url => events_path, method: :get do |f| %>
          <!-- class for searchTerm -->
          <div class="col-xs-12">
            <%=  f.input :location, input_html: { value: @location }, label_html: { class: 'shortTerm'}, placeholder: "Where are you?", label: false %>
          </div>

          <div class="col-xs-12">
            <%#=  f.input :category, input_html: { value: @category }, label_html: { class: 'shortTerm'}, placeholder: "What type of event are you looking for?", label: false, include_blank: false, as: :check_boxes, collection: Event::CATEGORIES %>
            <%=  f.input :category, input_html: { value: @category }, label_html: { class: 'shortTerm categories'}, placeholder: "What type of event are you looking for?", label: false, include_blank: false, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, collection: Event::CATEGORIES %>
          </div>
<!--
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button> -->
          <%= f.submit "Search", :class => 'btn btn-success' %>
          <% end %>
        </div>


<!-- List of the events -->

<div class="wrapper-map">
          <div id="map" style="width: 100%; height: 320px;"></div>

          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });

            <% end %>
          <% end %>
  </div>

<div class="event-list-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="event-list">
          <ul class="list-unstyled">
            <% if @events.empty? %>
            No events correspond to your research !

            <% end %>

            <%  @events.each do |event| %>
              <li>
                <div class="event-li">
                  <div class="event-category rounded-btn"><%= event.category %></div>
                  <h3><%= link_to event.title, event_path(event) %></h3>
                  <p><%= event.description %></p>
                  <p class="li-time"></p>
                  <p class="event-li-data">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <%= event.start_time.strftime('%a, %d %b %Y %H:%M:%S') %>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <%= event.location %>
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>



      </div>
    </div>
  </div>
</div>



    </div>
  </div>
<!-- </div> -->
