
<!-- <div class="wrapper"> -->
  <div class="container-fluid home-page"> <!-- class home-page -->
    <div class="row">
<!-- Search bar -->
<div class="search events">
<%= form_tag('/events', method: 'get',  class:'navbar-wagon-search' ) do  %>
    <%= text_field_tag :search_value, params[:search_value], placeholder: 'Search location, name of event' , class: "navbar-wagon-search-input" %>
    <%= submit_tag 'search', class: 'btn btn-primary search-btn' %>
    <%end  %>
 </div>

<div class="wrapper-map">
          <div id="map" style="width: 100%; height: 320px;"></div>

          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' }, provider:{ scrollwheel: false } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  handler.getMap().setZoom(13);
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });

            <% end %>
          <% end %>
  </div>

<div class="event-list-wrapper">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12"> -->

        <div class="event-list">
          <ul class="list-unstyled">

          <%if params[:search_value].nil? or params[:search_value] == ""  %>

            <%  @events.each do |event| %>
            <div class="col-xs-12 col-md-6">
              <li>


                <div class="event-li" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('https://images.unsplash.com/photo-1478812954026-9c750f0e89fc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg='); background-size: cover;">

                  <div class="event-category rounded-btn"><%= event.category %></div>
                  <h3><%= link_to event.title, event_path(event) %></h3>

                  <!-- <i class="fa fa-arrow-circle-right arrow" aria-hidden="true"></i> -->
                  <!-- <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i> -->
                  <!-- <img src='app/assets/images/background-image.jpg' class="arrow" /> -->
                  <p class="arrow"> &#x3e; </p>

                  <p class="li-time"></p>
                  <p class="event-li-data">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <%= event.start_time.strftime('%a, %d %b %Y %H:%M:%S') %><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <%= event.location %>
                  </p>
                </div>
              </li>
            </div>
            <% end %>



            <% elsif params[:search_value] != nil %>
            <%@result.each do |event| %>
            <div class="col-xs-12 col-md-6">
              <li>
                <div class="event-li">
                  <div class="event-category rounded-btn"><%= event.category %></div>
                  <h3><%= link_to event.title, event_path(event) %></h3>

                  <!-- <i class="fa fa-arrow-circle-right arrow" aria-hidden="true"></i> -->
                  <!-- <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i> -->
                  <!-- <img src='app/assets/images/background-image.jpg' class="arrow" /> -->
                  <p class="arrow"> &#x3e; </p>

                  <p class="li-time"></p>
                  <p class="event-li-data">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <%= event.start_time.strftime('%a, %d %b %Y %H:%M:%S') %><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <%= event.location %>
                  </p>
                </div>
              </li>
              </div>
            <% end %>

            <% end %>

          </ul>
        </div>
    </div>
  </div>
</div>



    </div>
  </div>
<!-- </div> -->
