<!-- Javascript for check-in -->
<% content_for(:after_js) do %>
  <script>
  $(document).ready(function () {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var lat = position.coords.latitude;
          var long = position.coords.longitude;

          var previous_href = $(".js-location").attr("href");
          previous_href = previous_href + "?latitude=" + lat + "&longitude=" + long;

          $(".js-location").attr("href", previous_href);

        });
    }
  });
  </script>
<% end %>

<!-- BANNER WITH CHECK-IN BUTTON -->
<% if @event.photo? %>
  <div class="banner-event" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url('<%= cl_image_path @event.photo %>')">
<% else %>
  <div class="banner-event" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url('https://images.unsplash.com/photo-1478812954026-9c750f0e89fc?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=')">
<% end %>
    <div class="banner-event-text">
      <h1><%= @event.title %></h1>
      <% if @event.upcomming? %>
        <h3>This event is to come. At the event, you will be able to check in to enable the chat and view the other attendees</h3>
      <% elsif @event.now? %>
        <h3>This event is NOW</h3>
        <% if user_signed_in?%>
          <% attended = current_user.attendances.select { |attendance| attendance.event_id == @event.id } %>
          <% if attended.empty? %>
            <div class="btn-show">
              <%= link_to "Check in", event_attend_path(@event), method: :get, class: "navbar-wagon-item navbar-wagon-button btn js-location" %>
            </div>
          <% else %>
            <h3>You are checked in.</h3>
          <% end %>
        <% else %>
          <div class="btn-show">
            <%= link_to "Check in", event_attend_path(@event), method: :get, class: "navbar-wagon-item navbar-wagon-button btn js-location"  %>
          </div>
        <% end %>
      <% elsif @event.past? %>
        <h3>This event is no longer open for check-ins.</h3>
      <% end %>
    </div>
  </div>
  <!-- end of banner -->

  <div class="container show-box" >
    <div class="row">

        <!-- Description -->
      <div class="event-infos">
        <div class="col-md-6">
          <p><i class="fa fa-calendar icon-design" aria-hidden="true"></i> <%= l(@event.start_time, format: :long) %> </p>
          <hr>
          <p><i class="fa fa-map-marker lg icon-design" aria-hidden="true"></i> <%= @event.location %> </p>
          <hr>
          <p><i class="fa fa-briefcase icon-design" aria-hidden="true"></i> <%= @event.organization %> </p>
          <hr>
          <p><i class="fa fa-tags icon-design" aria-hidden="true"></i> <%= @event.category %> </p>
          <hr>
          <p><i class="fa fa-bolt icon-design" aria-hidden="true"></i> <%= @event.description %>

        </div>
      </div>



    <% if !@event.upcomming? %>

      <!-- List of attendances -->
      <div class="col-xs-12 col-md-6">
        <div class= "attendances-wrapper">
          <% if user_signed_in? %>
            <% attended = current_user.attendances.select { |attendance| attendance.event_id == @event.id } %>
            <% if attended.empty? == false %>
              <h2 class="text-center"> <%= pluralize @event.attendances.count, "checked-in attendant" %> </h2>

              <% @event.attendances.each do |attendance| %>
                <% user_id = attendance.user_id %>
                <% user = User.find(user_id) %>
                <div class="user-list">
                  <% avatar_url = user.picture || "https://timeforgeography.co.uk/static/img/avatar-placeholder.png" %>
                  <%= image_tag avatar_url, class: "user-list-avatar" %>
                  <div class='user-list-body'>
                    <a href="<%= user_path(user.id) %>" style="text-decoration: none; color: #333333;"><h5> <%= user.first_name + " " + user.last_name %> </h5> </a>
                    <p> <%= user.headline %> </p>
                  </div>
                  <ul class="list-inline user-list-controls">
                    <% unless user.url.nil? %>
                      <li><a href="<%= user.url %>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <% end %>
                    <!-- Check if user already has a chat with this guy -->
                    <% already_chatting = false %>
                    <% my_chats = current_user.chatroomusers %>
                    <% my_chats.each do |chat| %>
                      <% chatter_1 = chat.chatroom.chatroomusers[0].user %>
                      <% chatter_2 = chat.chatroom.chatroomusers[1].user %>
                      <% chatters = [chatter_1, chatter_2] %>
                      <% if chatters.include?(user) %>
                        <% already_chatting = true %>
                        <% @our_chatroom = chat.chatroom %>
                      <% end %>
                    <% end %>
                    <% unless already_chatting %>
                      <li><a href="<%= new_chatroom_path(with_user_id: user_id) %>"><i class="fa fa-comments"></i></a></li>
                    <% else %>
                      <li><a href="<%= chatroom_path(@our_chatroom.id) %>"><i class="fa fa-comments"></i></a></li>
                    <% end %>
                    <li><%= link_to "", event_addcontactbook_path(@event,:user_id => user_id), :class => "fa fa-address-book" %></li>
                  </ul>
                </div>
              <% end %>

            <% else %>
              <div class="hidden-list">
                <h2> <%= pluralize @event.attendances.count, "checked-in attendant" %></h2>
                <p>Head over to the event and check in to see who they are!</p>
              </div>
            <% end %>
          <% else %>
            <div class="hidden-list">
              <h2> <%= pluralize @event.attendances.count, "checked-in attendant" %></h2>
              <p>Head over to the event and check in to see who they are!</p>
            </div>
          <% end %>
          </div>
        </div>

        <!-- map -->
      <div class="wrapper-map">
          <div id="map" style="width: 100%; height: 145px;"></div>

            <% content_for(:after_js) do %>
              <%= javascript_tag do %>
                $(document).ready(function() {
                  var handler = Gmaps.build('Google');
                  handler.buildMap({ internal: { id: 'map' }, provider:{ scrollwheel: false } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                      handler.getMap().setZoom(14);
                    }
                  });
                });

              <% end %>
            <% end %>
      </div>
      <!-- end map -->

      </div>
    </div>
  <% end %>




<!-- NOTE: Create banner with image, logo, slogan and randomized quotes, including:
  "You're only as strong as your network." - Barrack Obama
  "No man is an island." - Ernest Hemingway
  "My big fat network is so annoying and never helped me with anything." - No one ever
 -->
