<div class="container-fluid dashboard text-center">
  <div class="row">
    <div class="col-xs-12 dashboard-page">
      <%#= link_to "", new_event_path, class: "fa fa-plus-square-o fa-2x"%>

      <div class="profile-header-wrapper">
        <div class="profile-header-container text-center">
          <div class="tabs">
            <a class="tab active" data-target="#attending">
              <!-- <h3>Attending</h3> -->
              <i class="material-icons">event</i> Your events
            </a>
            <a class="tab" data-target="#created">
              <i class="material-icons">note_add</i>Created events
            </a>
          </div>
        </div>
      </div>


      <div class="text-center dashboard-body"> <!-- .container -->
        <div class="tab-content" id="attending">

          <% if current_user.events_to_attend.empty? %>
            <p class="blank-dashboard text-center">It seems like you're not attending any events yet.</p>
          <% else %>
            <% @events.each do |event| %>
              <!-- <h5 class="event-title"><%= link_to event.title, event_path(event) %></h5> -->

              <% if ((Time.now) > (event.start_time - 2.hours - 15.minutes)) && (Time.now < (event.start_time - 2.hours) ) %>
                  <p class="event-status">Event is about to start, make sure to check in!</p>
              <% elsif ((event.start_time - 2.hours) <= Time.now) && ((event.end_time - 2.hours) >= Time.now) %>
                    <p class="event-status">This event is now live!</p>
              <% end %>
              <% @attendance = current_user.attendances.where(event: event).first %>
              <p class="event-time">&#8226; <%= event.start_time.strftime('%a, %d %b %H:%M') %> &#8226;</p>

              <p class="event-title"><%= link_to event.title, event_path(event) %></p>

              <p class="unbook" style="font-weight: lighter"><%= link_to "Unbook this event", attendance_path(@attendance), method: :delete, data: {confirm: "are you sure ?"} %></p>
            <% end %>
          <% end %>
        </div>

        <div class="tab-content hidden" id="created">
          <% if current_user.events.empty? %>
            <p class="blank-dashboard text-center">There's nothing here :( Create your first event!</p>
          <% else %>
            <% @organized_events.each do |event| %>
              <p><%#= event.start_time%></p>


              <!-- <h5 class="event-title"> <%= link_to event.title, event_path(event) %> </h5> -->

              <% if ((Time.now) > (event.start_time - 2.hours - 15.minutes)) && (Time.now < (event.start_time - 2.hours) ) %>
                <p class="event-status">Event is about to start!</p>
              <% elsif ((event.start_time - 2.hours) <= Time.now) && ((event.end_time - 2.hours) >= Time.now) %>
                <p class="event-status">This event is now live!</p>
              <% end %>

              <p class="event-time">&#8226; <%= event.start_time.strftime('%a, %d %b %H:%M') %> &#8226;</p>
              <p class="event-title"> <%= link_to event.title, event_path(event) %> </p>
              <p class="unbook" style="font-weight: lighter"> <%= link_to "Edit event", edit_event_path(event) %> </p>
            <% end %>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- linkedin photo here -->
